<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<!-- <meta name="description" content="Your description goes here"> -->
    	<!-- <meta name="keywords" content="one, two, three"> -->
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>

		<title>Kids Having Fun</title>
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>

		<div class="container">
			<span class="text1">Kids Having Fun</span>
			<span class="text2">...coming soon</span>
		</div>
		<section class="khfInfo">
			<p><span>KidsHavingFun (KHF)</span> is an independent collective of artists, skaters, hippies, and misfits, with a focus on promoting a philosophy of enjoying the simpler things through different vehicles.
      We use art and skateboarding as a means to bring social change. Whether it's a live event, charitable services, or culturally inspred street wear.
      We create dope shit.
      KHF to us is not about being a child. It is about finding and doing what you enjoy. Progression is key, and we are glad to be a part of that journey with you.
      HAVE FUN...</p>
		</section>
<!-- external JavaScript link -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/main.js"></script>
	</body>
</html>
