<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<!-- <meta name="description" content="Your description goes here"> -->
    	<!-- <meta name="keywords" content="one, two, three"> -->
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>

		<title>Kids Having Fun</title>
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<header>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</nav>
	</header>
	<body>
		<h1>KHF Coming Soon...</h1>
		<section class="imageCarousel">
			<img class="rotatingImage" src="../image/skate1.jpg" alt="ariel view of skate park">
			<img class="rotatingImage" src="../image/paint1.jpg" alt="tops of spray cans">
			<img class="rotatingImage" src="" alt="">
		</section>
		<section class="aboutKHF">
			<p></p>
		</section>
<!-- external JavaScript link -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/main.js"></script>
	</body>
</html>
