/*
Project Name: Blank Template
Client: Your Client
Author: Lilly Percival
Developer @RC in Boston
Date (started):
Date (completed):
*/


/*******************************************/
/* SETUP
/*******************************************/

/* Box Model Hack */
 {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/*******************************************/
/* BASE STYLES
/*******************************************/
*{
padding: 0;
margin: 0;
font-family: sans-serif;

}

body {
     background-color: #000;
     background-image: url("../image/skate1.png");
     background-repeat: no-repeat;
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/*******************************************/
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
	width: 960px;
	margin: auto;
}

.container{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.container span{
  text-transform: uppercase;
  display: block;
}

.text1{
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
  background: black;
  position: relative;
  animation: text 3s 1;

}

.text2{
  color: #fff;
  font-size: 2rem;
}

.red:hover{
  color: red;
  width: 100%;
}

.blue:hover{
  color: blue;
  width: 100%;
}
.green:hover{
  color: green;
  width: 100%;
}
.text1 > span{
  display: inline;
}
@keyframes text {
  0%{
    color: black;
    margin-bottom: -40px;
  }
30%{
  letter-spacing: 0.2rem;
  margin-bottom: -40px;
}
}

.khfInfo{
  border: 3px solid black;
  background-color: #222222;
  height: auto;
  width: 24%;
  position: absolute;
  top: 60%;
  left: 38%;
  animation: fade 3s 1;
}
p{
  color: white;
  opacity: 1;
  font-weight: 600;
  width: auto;
  font-size: 1.5rem;
  text-align: center;

}

@keyframes fade {
  0%{
    opacity: 0;
  }
  80%{
    opacity: 0;
  }
}
p > span{
  font-weight: bold;
  color: red;
}
header {

}

footer {

}


/*******************************************/
/* ADDITIONAL STYLES
/*******************************************/














/*******************************************/
/* MEDIA QUERIES
/*******************************************/

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {

}


/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .text1{
    color: red;
    font-size: 4rem;
  }
}


/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {

}


/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}


/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {

}
